textarea
  width: 410px
#link_information
  width: 400px
  display: block
  border: 1px solid black
  background: #aaaaaa
  padding: 4px  
  h4
    margin: 0
    margin-bottom: 0.3em
    margin-left: 110px
  p
    margin: 0
    padding: 0
    margin-left: 110px
  p::after
    content: "."
    height: 0
    clear: both
    display: block
    visibility: hidden
  ul#images
    margin: 0
    padding: 0
    float: left
    padding: 0px
    width: 100px
    list-style-type: none
    li
      img
        background-color: #ffffff
        padding: 2px
        border: 1px solid black
  #buttons
    margin-top: 5px
    background-color: #bbbbbb
    border: 1px solid #cccccc
    width: 104px
    .next
      text-align: center
      display: inline-block
      width: 49px
      border-right: 1px solid #cccccc
    .prev
      text-align: center
      display: inline-block
      width: 49px
      border-right: 1px solid #cccccc    
  