body
  background: #232927

#container
  width: 960px
  margin-left: auto
  margin-right: auto

body header, body footer
  display: block
  margin: 2.0em 0
  text-align: center  
  font-family: 'Bangers', arial, serif
  h1,h2
    color: #E3D7BF  
    font-size: 5.0em
    text-shadow: 1px 1px 0px black, 2px 2px 0px #476871, 3px 3px 0px #476871, 4px 4px 0px #476871, 5px 5px 0px #476871, 6px 6px 0px #476871, 7px 7px 0px #476871
    a,a:link,a:visited,a:hover,a:active
      color: #E3D7BF
      text-decoration: none
  h2
    font-family: 'Slackey', arial, serif
    font-size: 1.3em

body footer
  position: fixed
  bottom: 0
  width: 960px
  margin-left: auto
  margin-right: auto  
    
#add_form
  display: block
  width: 410px
  margin-left: auto
  margin-right: auto
  textarea
#link_information
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif
  width: 400px
  display: block
  border: 1px solid black
  background: #FFFFFF
  padding: 10px
  h4
    font-size: 12px
    margin: 0
    margin-left: 115px
  p
    font-size: 11px
    margin: 0
    padding: 0
    margin-left: 115px
    &.summary
      color: #666
      margin-bottom: 0.5em
  ul#images
    margin: 0
    padding: 0
    float: left
    padding: 0px
    width: 100px
    list-style-type: none
    li
      img
        display: none
        background-color: #ffffff
        padding: 2px
        border: 1px solid black    
  #buttons
    font-size: 11px
    margin-left: 115px
    margin-top: 5px
    background-color: #bbbbbb
    border: 1px solid #cccccc
    width: 104px
    display: none
    &::last::after
      content: "."
      height: 0
      clear: both
      display: block
      visibility: hidden    
    .next
      text-align: center
      display: inline-block
      width: 49px
      border-right: 1px solid #cccccc
    .prev
      text-align: center
      display: inline-block
      width: 49px
      border-right: 1px solid #cccccc    
  