%h1 Sniff N Snatch
%h2 aka. The Image Snatching URL Sniffer
= form_for '#', :id => 'add_form' do |f|
  = f.text_area 'input_box'
  #link_information{ :style => 'display: none'}
    %div#progress{ :style => 'display: none'}
      %img{ :src => 'images/progress.gif' }
    %ul#images
    %h4
    %p.summary
    %p.description
    %div#buttons
      %a.prev{ :href => '#' }
        prev
      %a.next{ :href => '#' }
        next