= form_for '#', :html => { :id => 'add_form' } do |f|
  = f.text_area 'input_box', :rows => 4, :cols => 57, :placeholder => 'Enter some text containing a URL'
  #link_information{ :style => 'display: none'}
    %div#progress{ :style => 'display: none'}
      %img{ :src => 'images/progress.gif' }
    %ul#images
      %li#imageone
        %img{ 'data-index' => '-1', :width => 103, :height => 103 }
    %h4.editable
    %p.summary
    %p.description
    %div#buttons
      %a.prev{ :href => '#' }
        prev
      %a.next{ :href => '#' }
        next
    %br{ :clear => 'all'  }